body{
margin:0;
border:0;
font-family: sans;
color: white;
text-transform: capitalize;
background: url("/Dev/images/homebg.jpg");
background-size:cover; 
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
    font-family: sans;
    src: url("/Dev/fonts/Sansation-Light.ttf");
    format('truetype');
}
a{
 text-decoration: none;
 color:white;
 text-align:center;
}


#header img{
float:left;
margin-top:07px;
margin-left:70px;
width:80px;
height:80px;
background-color: black;
border-top-left-radius:100px;
border-top-right-radius:100px;
border-bottom-left-radius:100px;
border-bottom-right-radius:100px;
border-width:0px 15px 5px 0px black;
}
#header{
padding:10px;
left:0px;
height:100px;
line-height: 1.25;
position:relative;
border:1px;
font-size:50px;
text-indent:60px;
text-shadow: 2px 1px black;
background: linear-gradient(to right, rgba(0,0,0,3), rgba(0,0,0,0));
}
#header.tagline{
margin-top:-10px;
font-size:15px;
background:none;
text-indent:64px;
}

#content{
padding:0px;
height:450px;
}
#content.iq,
#content.lazer,
#content.outbox,
#content.isis,
#content.craze{
margin-left:20px;
margin-bottom:90px;
position:relative;
padding:20px;
height:130px;
width:130px;
top:30%;
left:15%;
transition: all 200ms ease;
overflow: hidden;
display:inline-block;
font-size:200%;
text-align:center;
background-filter:alpha(opacity=50);
}
.iq{
background: url("/Dev/images/iqlogo.png") ;
background-size:100% 80% ;
background-repeat: no-repeat; 
font-size:250px;
}
.outbox{
background: url("/Dev/images/gift-box (1).png");
background-size:cover; 
}
.lazer{
border-top-left-radius:100px;
border-top-right-radius:100px;
background-size:100% 80% ;
background-repeat: no-repeat; 
background: url("/Dev/images/lazerhome.png");
background-size:cover; 
}
.isis{
background: url("/Dev/images/isishome.png");
background-size:100% 80% ;
background-repeat: no-repeat; 
}
.craze{
background: url("/Dev/images/crazehome.png");
background-size:contain;
background-repeat: no-repeat;
font-size:0%;
}
#content.iq:active,
#content.iq:hover{
cubic-bezier(15,15,15,15);
margin-top:-20%;
padding:50px;
font-size:0%;
text-shadow: 2px 1px white;
background: url("/Dev/images/iqhover.jpg") 50%;
background-size:cover;
}
#content.lazer:active,
#content.lazer:hover{
cubic-bezier(15,15,15,15);
margin-top:-20%;
border-top-left-radius:0px;
border-top-right-radius:0px;
padding:50px;
font-size:0%;
background: url("/Dev/images/lazerhover.jpg") 50%;
background-size:cover;
}
#content.isis:active,
#content.isis:hover{
cubic-bezier(15,15,15,15);
margin-top:-20%;
padding:50px;
font-size:0%;
background: url("/Dev/images/isishover.jpg") 30%;
background-size:cover;
}
#content.outbox:active,
#content.outbox:hover
{
cubic-bezier(15,15,15,15);
margin-top:-20%;
padding:50px;
font-size:0%;
background: url("/Dev/images/iqhover.jpg") 50%;
background-size:cover;
}
#content.craze:active,
#content.craze:hover
{
cubic-bezier(15,15,15,15);
margin-top:-20%;
padding:50px;
font-size:0%;
background: url("/Dev/images/iqhover.jpg") 50%;
background-size:cover;
}
#footer{
margin-bottom:0px;
border-width:1px 0px 1px 0px ;
font-size:10px;
height:90px;
background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)); /*Standard*/
}
