body{
margin:0;
border:0;
font-family: sans;
color: white;
text-transform: capitalize;
background:linear-gradient(black,#2C3539,black);
}

@font-face {
    font-family: sans;
    src: url("/Dev/fonts/Sansation-Light.ttf");
    format('truetype');
}
a{
 text-decoration: none !important;
 color:white;
}


#header img{
float:left;
margin-top:07px;
margin-left:70px;
width:80px;
height:80px;
background-color: black;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-top-left-radius:100px;
border-top-right-radius:100px;
border-bottom-left-radius:100px;
border-bottom-right-radius:100px;
border-width:0px 15px 5px 0px black;
}
#header{
padding:10px;
left:0px;
height:80px;
line-height: 1.25;
position:relative;
border:1px;
font-size:50px;
text-indent:60px;
text-shadow: 2px 1px black;
background:linear-gradient(black,#2C3539,black);
}
#header.tagline{
margin-top:-10px;
font-size:15px;
background:none;
text-indent:64px;
}

#content{
padding:0px;
height:450px;
border-color: black;
border-style: ridge;
border-width:1px 0px 1px 0px ;
}
#content.iq,
#content.lazer,
#content.outbox,
#content.isis,
#content.craze{
margin-left:20px;
position:relative;
padding:20px;
height:130px;
width:130px;
top:30%;
left:15%;
box-shadow:outset 20px 20px 20px 20px silver;
border-top-left-radius:50px;
border-top-right-radius:50px;
border-bottom-left-radius:50px;
border-bottom-right-radius:50px;
border-width:0px 15px 5px 0px black;
filter:drop-shadow(8px 8px 10px black);
text-align:center;
transition: all 400ms ease;
overflow: hidden;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
display:inline-block;
font-size:0;
}
.iq{
background: url("/Dev/images/iqhome.jpg") 45%;
background-size:cover; 
}
#content.iq:active,
#content.lazer:active,
#content.iq:hover,
#content.lazer:hover,
#content.isis:active,
#content.isis:hover,
#content.outbox:active,
#content.outbox:hover,
#content.craze:active,
#content.craze:hover{
cubic-bezier(15,15,15,15);
margin-top:-20%;
padding:50px;
font-color:yellow;
font-size:200%;
text-shadow: 2px 2px black;
background: url("/Dev/images/iqhover.jpg") 80%;
background-size:cover;
}


#footer{
margin-top:0px;
border-width:1px 0px 1px 0px ;
font-size:10px;
height:90px;
background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)); /*Standard*/
}